@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
}

/* Personaliza a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
  margin: none;
}

/* Personaliza o controle deslizante (thumb) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #2e2e2e; /* Cor do controle deslizante */
  border-radius: 10px;
}